<%- include("partials/header.ejs") %>

<section id="about" class="gradient-background">
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="about-section">
                <h1 class="text-center mb-4">About Us</h1>
               <h4> "Connecting Paws and Hearts: WoofMatch - Where Dogs Find Friends!"</h4>
               <p>Are you a proud dog owner looking for a place where you and your furry friend can shine? Look no further! WoofMatch is the ultimate social media app designed exclusively for dogs and their loving owners.</p>
               <p>📸 Share Pawsome Moments: Upload adorable pictures of your four-legged companion or heartwarming snapshots of you and your dog. Let the world see the charisma of your canine companion and collect those precious likes!</p>
               <p>🐾 Weekly Meetups: Join our vibrant community of dog lovers and never miss a playdate again! Whether you're searching for a specific breed meetup or just want to mingle with fellow dog enthusiasts, WoofMatch has got you covered. Connect, chat, and schedule exciting gatherings at your local dog parks.</p>
               <p>🐶 Breed Identification: Ever come across a captivating dog in the park and wondered about its breed? Our built-in breed identification feature can satisfy your curiosity! Just snap a photo, and WoofMatch will reveal the breed, so you can learn more about your canine pals.</p>
                <p>Join WoofMatch today and embark on a tail-wagging journey of friendship, fun, and unforgettable canine moments. It's where paws meet pixels, and your dog's social life flourishes!</p>
                <h4>Discover. Connect. Bark Together! 🐾</h4>
            </div>
    </div>
</div>
</section>

<%- include("partials/footer.ejs") %>