<%- include("partials/header.ejs") %>

<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">🐾 <span id="nav-Woof">Woof</span><span id="nav-Match">Match</span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#identify-breed">Identify-Breed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing">Pricing</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#cta">Download</a>
        </li>
      </ul>
    </div>
  </nav>

  <section id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <!-- Title -->
      <div class="row">
        <div>
          <br>
          <h1 class="big-heading">Connect with Canine Companions: Your Dog's Social World Awaits!.</h1>
         <h4>What's your pup's name? </h4>
         <!-- ------------------- -->
         <form>
          <!-- <div class="row"> -->
            <div class="col-md-5 mb-5">
              <input type="input" class="form-control title-dim" placeholder="Name">
            </div>
            <div class="col-md-5 mb-5">
            <button type="button" class="btn btn-outline-light btn-lg submit-button">Submit</button>
          </div>
          <!-- </div> -->
        </form>
         <!-- ------------------------------- -->
     

        <div class="col-lg-6">
          <!-- <img class="title-image" src="images/iphone6.png" alt="iphone-mockup"> -->
        </div>
      </div>
  </section>


  
  <!-- Testimonials -->

  <section id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-bs-ride="false">
      <div class="carousel-inner">

        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">I no longer have to sniff other dogs for love. I've found the hottest Corgi on WoofMatch. Woof.</h2>
          <img class="testimonial-image" src="images/dog-img.jpg" alt="dog-profile">
          <em>Pebbles, New York</em>
        </div>

        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">My dog used to be so lonely, but with WoofMatch's help, they've found the love of their life. I think.</h2>
          <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile">
          <em>Beverly, Illinois</em>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>

  </section>


  <!-- Press -->

  <section id="press">
    <img class="press-logo" src="images/TechCrunch.png" alt="tc-logo">
    <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">
    <img class="press-logo" src="images/mashable.png" alt="mashable-logo">

  </section>



  <!-- Features -->

  <section id="features">

    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fa-solid fa-circle-check fa-4x "></i>
          <h3 class="feature-title">Easy to use.</h3>
          <p>So easy to use, even your dog could do it.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fa-solid fa-bullseye fa-4x"></i>
          <h3 class="feature-title">Elite Clientele</h3>
          <p>We have all the dogs, the greatest dogs.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fa-solid fa-heart fa-4x"></i>
          <h3 class="feature-title">Guaranteed to work.</h3>
          <p>Find the love of your dog's life or your money back.</p>
        </div>
      </div>

    </div>
  </section>


      <!-- Dog Breed Identification Section -->
      <section id="identify-breed">

        <div class="container-fluid">
          <h2 class="section-heading">Identify Dog Breed</h2>
    
          <!-- Breed Identification Form -->
          <form id="breed-identification-form" enctype="multipart/form-data">
            <input type="file" id="image-input" accept="image/*">
            <button type="button" id="identify-button" class="btn btn-dark btn-lg">Identify</button>
          </form>
    
          <!-- Selected Image Display -->
          <div id="image-preview">
            <!-- The selected image will be displayed here -->
          </div>
  
          <!-- Result Display -->
          <div id="result">
            <!-- The breed identification result will be displayed here -->
          </div>
        </div>
    
      </section>
  
      



  <!-- Pricing -->

  <section id="pricing">

    <h2 class="section-heading">A Plan for Every Dog's Needs</h2>
    <p>Simple and affordable price plans for your and your dog.</p>

    <div class="row">

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Chihuahua</h3>
          </div>
          <div class="card-body d-grid gap-2">
            <h2 class="price-text">Free</h2>
            <p>5 Matches Per Day</p>
            <p>10 Messages Per Day</p>
            <p>Unlimited App Usage</p>
            <button class="btn btn-lg btn-outline-dark" type="button">Sign Up</button>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Labrador</h3>
          </div>
          <div class="card-body d-grid gap-2">

            <h2 class="price-text">$49 / mo</h2>
            <p>Unlimited Matches</p>
            <p>Unlimited Messages</p>
            <p>Unlimited App Usage</p>
            <button class="btn btn-lg btn-dark" type="button">Sign Up</button>
          </div>
        </div>
      </div>


      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Mastiff</h3>
          </div>
          <div class="card-body d-grid gap-2">
            <h2 class="price-text">$99 / mo</h2>
            <p>Pirority Listing</p>
            <p>Unlimited Matches</p>
            <p>Unlimited Messages</p>
            <p>Unlimited App Usage</p>
            <button class="btn btn-lg btn-dark" type="button">Sign Up</button>
          </div>
        </div>
      </div>

    </div>
  </section>


  <!-- Call to Action -->

  <section id="cta">

    <div class="container-fluid">
      <h3 class="big-heading">Find the True Love of Your Dog's Life Today.</h3>
      <button type="button" class="btn btn-dark btn-lg download-button"><i class="fa-brands fa-apple"></i> Download</button>
      <button type="button" class="btn btn-light btn-lg download-button"><i class="fa-brands fa-google-play"></i> Download</button>
    </div>

  </section>



  <%- include("partials/footer.ejs") %>
